<!--The content below is only a placeholder and can be replaced.-->

  <div class="container">

  <h1>My App!</h1>
  <!-- <app-test></app-test> -->
  <div id="user">
    <input [(ngModel)]="user" type="text" placeholder="Username">
    <br>
    <span [ngClass]="{'hidden' : user.length < 4}">{{nbLoaning() }} emprunt(s) en cours</span>
  </div>
  <div id="filters">
  <select #type (change)="filterType(type.value)">
    <option value="0">Filtre par type</option>
    <option value="livre">Livre</option>
    <option value="audio">Audio</option>
    <option value="film">Film</option>
  </select>

  <input
   type="text"
   placeholder="Filtrer par auteur"
   #auteur
   (keyup)="filterAuteur(auteur.value)">

   <span>Médias disponibles</span>
   <input
   type="checkbox"
   [(ngModel)]="showAvailable ">
  </div>




    <table class='table table-striped table-bordered'>
      <thead class="bg-primary">
        <tr>

          <th>Titre</th>
          <th>Auteur</th>
          <th>Type</th>
          <th>Disponibilité</th>


        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="{'hidden':showAvailable && media.end}"
        *ngFor="let media of medias; let i = index">
        <td>{{media.title}}</td>
        <td>{{media.author}}</td>
        <td>{{media.type | uppercase}}</td>
        <td>
          <div  *ngIf = "media.end">
            Retour le {{ media.end | date: 'dd/MM/yyyy'}}
          <div>
            (emprunté par {{media.user}})
            <div *ngIf="getPastLoaningByUser(media.user).length > 0">
              <span
              class="clicable"
              (mouseout)="test=false"
              (mouseover)="test=true">Historique</span>
              <div class="history"
              [ngClass]="{'hidden':!test}">
                <ul>
                  <li *ngFor= "let loaning of getPastLoaningByUser(media.user)">
                    {{loaning.start | date: 'dd/MM/yyyy'}}
                    {{loaning.end | date: 'dd/MM/yyyy'}}

                  </li>
                </ul>
              </div>
            </div>

          </div>


          </div>
       <button
       (click)="saveLoaning(media.id,i)"
       [disabled] = "user.length < 4 || nbLoaning() > 3"
       *ngIf = "!media.end"
       class="btn btn-sm btn-primary">Emprunter</button></td>
        </tr>
      </tbody>
    </table>

  </div>



<router-outlet></router-outlet>
